@font-face {
    font-family: Pompadur; /* Гарнитура шрифта */
    src: url(font.ttf); /* Путь к файлу со шрифтом */
}
h1, h2, h3, h4, li, p, div, em, label {
    font-family: Pompadur;
    color: #343434;
}

.em {
    text-align: justify;
}

.main {
    background: darkgrey;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: center;
}

.block {
    margin-top: 0px;
    max-width: 375px;
    background: #ffffff;
    padding: 12px;
    border-radius: 8px;
}

.emblem {
    width: 100%;
    text-align: center;
}

img.emblem {
    width: 150px;
}

.main-img {
    width: 100%;
    text-align: center;
}

img.board-img {
    width: 350px;
}

img.board-img_l {
    max-width: 110px;
    min-width: 110px;
    max-height: 73px;
    min-height: 73px;
}

img.board-img_l, img.board-img {
    border: 2px #a7a7a7 solid;
    border-radius: 5px;
}

img.board-img_l:nth-child(2) {
    margin-left: 1px;
    margin-right: 1px;
}

.main-i {
    width: 100%;
    display: grid;
    justify-content: center;
}

.mail-i-d {
    width: auto;
}

img.board-i_l {
    width: 115px;
}