<!DOCTYPE HTML>
<html lang="ru">
   <head>
      <meta charset=UTF-8>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <title>Военная служба по контракту</title>
      <!-- Google reCAPTCHA -->
      
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
      
      <link href="//fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap" rel="stylesheet">
      <!-- Icons -->
      <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
      <link rel="shortcut icon" href="https://grizly.club/uploads/posts/2023-01/1672887049_grizly-club-p-tekstura-emo-15.png">
      <link rel="icon" type="image/png" sizes="192x192" href="https://grizly.club/uploads/posts/2023-01/1672887049_grizly-club-p-tekstura-emo-15.png">
      <link rel="apple-touch-icon" sizes="180x180" href="https://grizly.club/uploads/posts/2023-01/1672887049_grizly-club-p-tekstura-emo-15.png">
      <!-- END Icons -->
      <link href="https://bykh.ru/css/content.min.css?v=" rel="stylesheet">
      <link href="https://bykh.ru/css/custom.css?v=" rel="stylesheet">
      <link href="https://bykh.ru/css/new-profile.css?v=" rel="stylesheet">
      <link href="https://bykh.ru/css/flipdown.css?v=" rel="stylesheet">
   </head>
   <body>
      <div id="page-container" >
         <main id="main-container" class="position-relative">
            
            <div id="page-content">
               <div class="container-fluid theme-background">
                  <div class="row">
                     <div class="col-md-12 col-12">
                        <div class="card__phone">
                           <div class="card card-view" id="products_card">
                              <div id="landing-content" class="card__bg2 position-relative text-dark">
                                 <div id="card-background" class="w-100 h-100 position-absolute" style="  background: #FFFFFF;background-size:contain  ; opacity: 1; border-radius: 1rem !important;"></div>
                                 <div class="content-section position-relative text-dark">
                                    <div class="landing-blocks" >
                                       <div class="blocks">
                                          <div class="unit unit-avatar mt-2" data-id="3574" data-layout="landing" data-type="avatar">
                                             <div class="unit-content px-3" style="position: relative;">
                                                <div class="d-flex align-items-center justify-content-center flex-column pt-2 pb-2">
                                                   <div class="bg-image rounded-pill mb-2" style="background-image: url('https://steamuserimages-a.akamaihd.net/ugc/2281698841343368662/B7092C1DAD879262E1D59358053A088F984303C9/?imw=512&amp;imh=512&amp;ima=fit&amp;impolicy=Letterbox&amp;imcolor=%23000000&amp;letterbox=true'); width: 150px; height: 150px;"></div>
                                                   <h3 class="mb-1 text-center" id="update__profile_name">Военная служба по контракту</h3>
                                                   <p class="mb-0 font-size-sm text-center" id="update__description">Служба в Пограничном Управление ФСБ России по Саратовской и Самарской областям</p>
                                                </div>
                                                <style>
                                                   #avatarBlock {
                                                   display: none;
                                                   }
                                                </style>
                                             </div>
                                          </div>
                                          <div class="unit unit-text mt-2" data-id="828" data-layout="landing" data-type="text">
                                             <div class="unit-content px-3" style="position: relative;">
                                                <p dir="ltr" style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 10pt; font-family: impact, sans-serif;" data-mce-style="font-size: 10pt; font-family: impact, sans-serif;">Есть такая профессия - Родину защищать (c)</span></p>
                                             </div>
                                          </div>
                                          <div class="unit unit-text mt-2" data-id="831" data-layout="landing" data-type="text">
                                             <div class="unit-content px-3" style="position: relative;">
                                                <p><img src="https://steamuserimages-a.akamaihd.net/ugc/2281698841343368662/B7092C1DAD879262E1D59358053A088F984303C9/?imw=512&amp;imh=512&amp;ima=fit&amp;impolicy=Letterbox&amp;imcolor=%23000000&amp;letterbox=true" width="323" height="242" data-mce-src="storage/photos/1195/613b7712db5fb.jpg" style="display: block; margin-left: auto; margin-right: auto;" data-mce-style="display: block; margin-left: auto; margin-right: auto;"></p>
                                             </div>
                                          </div>
                                          <div class="unit unit-text mt-2" data-id="832" data-layout="landing" data-type="text">
                                             <div class="unit-content px-3" style="position: relative;">
                                                <h1 class="base-hero__title" style="text-align: center;" data-mce-style="text-align: center;">Сотрудник пограничных органов</h1>
                                                <h1 class="base-hero__title" style="text-align: center;" data-mce-style="text-align: center;">ФСБ России</h1>
                                                <p><br></p>
                                                <h3 class="base-hero__subtitle" data-mce-style="text-align: center;" style="text-align: center;"><span style="font-size: 18pt;" data-mce-style="font-size: 18pt;">Денежное довольствие </span><br><span style="font-size: 24pt;" data-mce-style="font-size: 24pt;"><strong><span style="color: rgb(224, 62, 45);" data-mce-style="color: #e03e2d;">45 000 &nbsp;- &nbsp;70 000 ₽</span></strong></span></h3>
                                             </div>
                                          </div>
                                          <div class="unit unit-button mt-2" data-id="833" data-layout="landing" data-type="button">
                                             <div class="unit-content px-3" style="position: relative;">
                                             </div>
                                          </div>
                                          <div class="unit unit-text mt-2" data-id="847" data-layout="landing" data-type="text">
                                             <div class="unit-content px-3" style="position: relative;">
                                                <table border="0" data-mce-style="border-collapse: collapse; width: 100%;" style="border-collapse: collapse; width: 100%;" class="mce-item-table">
                                                   <tbody>
                                                      <tr>
                                                         <td style="width: 48.85447901049476%; text-align: center; vertical-align: top;" scope="col" data-mce-style="width: 48.85447901049476%; text-align: center; vertical-align: top;">
                                                            <p><img src="https://steamuserimages-a.akamaihd.net/ugc/2281698841343368662/B7092C1DAD879262E1D59358053A088F984303C9/?imw=512&imh=512&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true" width="100" height="100"><br></p>
                                                            <p><span style="font-size: 8pt;" data-mce-style="font-size: 8pt;">Северная надбавка до 80%</span></p>
                                                            <p><span style="font-size: 8pt;" data-mce-style="font-size: 8pt;">Районный коэфициент 1.4</span></p>
                                                            <p><span style="font-size: 8pt;" data-mce-style="font-size: 8pt;"><br data-mce-bogus="1"></span></p>
                                                         </td>
                                                         <td style="width: 49.00440404797601%;" data-mce-style="width: 49.00440404797601%;">
                                                            <p><img src="https://steamuserimages-a.akamaihd.net/ugc/2281698841343368662/B7092C1DAD879262E1D59358053A088F984303C9/?imw=512&imh=512&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true" width="100" height="100" style="display: block; margin-left: auto; margin-right: auto;" data-mce-style="display: block; margin-left: auto; margin-right: auto;"><br></p>
                                                            <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 8pt;" data-mce-style="font-size: 8pt;">Оплачиваемый отпуск 60 суток</span></p>
                                                            <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 8pt;" data-mce-style="font-size: 8pt;">+ дни дороги к месту проведения отпуска и обратно</span></p>
                                                         </td>
                                                      </tr>
                                                      <tr>
                                                         <td style="width: 48.85447901049476%;" data-mce-style="width: 48.85447901049476%;">
                                                            <p><img src="https://steamuserimages-a.akamaihd.net/ugc/2281698841343368662/B7092C1DAD879262E1D59358053A088F984303C9/?imw=512&imh=512&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true" width="100" height="100" style="display: block; margin-left: auto; margin-right: auto;" data-mce-style="display: block; margin-left: auto; margin-right: auto;"><br></p>
                                                            <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 8pt;" data-mce-style="font-size: 8pt;">Продовольственный паёк</span></p>
                                                         </td>
                                                         <td style="width: 48.85447901049476%;" data-mce-style="width: 48.85447901049476%;">
                                                            <p><img src="https://steamuserimages-a.akamaihd.net/ugc/2281698841343368662/B7092C1DAD879262E1D59358053A088F984303C9/?imw=512&imh=512&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true" width="100" height="100" style="display: block; margin-left: auto; margin-right: auto;" data-mce-style="display: block; margin-left: auto; margin-right: auto;"><br></p>
                                                            <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 8pt;" data-mce-style="font-size: 8pt;">Служебные квартиры</span></p>
                                                         </td>
                                                      </tr>
                                                      <tr>
                                                         <td style="width: 48.85447901049476%; text-align: center;" data-mce-style="width: 48.85447901049476%; text-align: center;">
                                                            <p><img src="https://steamuserimages-a.akamaihd.net/ugc/2281698841343368662/B7092C1DAD879262E1D59358053A088F984303C9/?imw=512&imh=512&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true" width="101" height="100"><br></p>
                                                            <p><span style="font-size: 8pt;" data-mce-style="font-size: 8pt;">Военная ипотека</span></p>
                                                         </td>
                                                         <td style="width: 49.00440404797601%;" data-mce-style="width: 49.00440404797601%;"><br></td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </div>
                                          </div>
                                          <div class="unit unit-text mt-2" data-id="835" data-layout="landing" data-type="text">
                                             <div class="unit-content px-3" style="position: relative;">
                                                <div class="vacancy-about__block">
                                                   <article class="title-and-list">
                                                      <div class="title-and-list__title"><span style="color: rgb(25, 67, 22);" data-mce-style="color: #194316;">Требования:</span></div>
                                                      <div><em>Сотрудником органов федеральной службы безопасности может быть гражданин Российской Федерации, не имеющий гражданства (подданства) иностранного государства, способный по своим личным, профессиональным<br>и психологическим качествам, возрасту, образованию и состоянию здоровья исполнять возложенные на него обязанности. </em><br><a href="http://www.consultant.ru/document/cons_doc_LAW_6300/" data-mce-href="http://www.consultant.ru/document/cons_doc_LAW_6300/">(Федеральный закон от 3 апреля 1995 г. №40-ФЗ "О федеральной службе безопасности")</a></div>
                                                      <br>
                                                      <ul class="title-and-list__list">
                                                         <li class="title-and-list__item"><span style="font-size: 12pt;" data-mce-style="font-size: 12pt;">Возраст от 18 до 38 лет</span></li>
                                                         <li class="title-and-list__item"><span style="font-size: 12pt;" data-mce-style="font-size: 12pt;">Уровень образования не ниже среднего общего (11 классов)</span></li>
                                                         <li class="title-and-list__item"><span style="font-size: 12pt;" data-mce-style="font-size: 12pt;">Военная служба по призыву (зачисление без прохождения военной службы по окончании Среднего профессионального или &nbsp;Высшего учебного заведения)</span></li>
                                                         <li class="title-and-list__item"><span style="font-size: 12pt;" data-mce-style="font-size: 12pt;">Отсутствие судимости в настоящее время или в прошлом</span></li>
                                                         <li class="title-and-list__item"><span style="font-size: 12pt;" data-mce-style="font-size: 12pt;">Отсутствие близких родственников, постоянно проживающих</span><br><span style="font-size: 12pt;" data-mce-style="font-size: 12pt;">за пределами РФ</span></li>
                                                         <li class="title-and-list__item"><span style="font-size: 12pt;" data-mce-style="font-size: 12pt;">Отсутствие административного наказания в виде лишения водительских прав за нарушение ПДД</span></li>
                                                      </ul>
                                                   </article>
                                                </div>
                                                <div class="vacancy-about__block">
                                                   <article class="title-and-list">
                                                      <div class="title-and-list__title"><span style="color: rgb(25, 67, 22); font-size: 14pt;" data-mce-style="color: #194316; font-size: 14pt;">Условия:</span></div>
                                                      <ul class="title-and-list__list">
                                                         <li class="title-and-list__item"><span style="font-size: 12pt;" data-mce-style="font-size: 12pt;">Минимальный срок контракта 5 лет</span></li>
                                                         <li class="title-and-list__item"><span style="font-size: 12pt;" data-mce-style="font-size: 12pt;">Стаж службы зачисляется 1 год за 1,5 года</span></li>
                                                         <li class="title-and-list__item"><span style="font-size: 12pt;" data-mce-style="font-size: 12pt;">Северная надбавка до 80 %</span></li>
                                                         <li class="title-and-list__item"><span style="font-size: 12pt;" data-mce-style="font-size: 12pt;">Денежное довольствие зависит от оклада по воинскому званию, должности, срока службы, а также объема</span><br><span style="font-size: 12pt;" data-mce-style="font-size: 12pt;">и значимости выполняемых задач</span></li>
                                                         <li class="title-and-list__item"><span style="font-size: 12pt;" data-mce-style="font-size: 12pt;">Обеспечение военной формой одежды, служебным жильем</span><br><span style="font-size: 12pt;" data-mce-style="font-size: 12pt;">и продовольственным пайком</span></li>
                                                         <li class="title-and-list__item"><span style="font-size: 12pt;" data-mce-style="font-size: 12pt;">Ежегодный оплачиваемый отпуск до 60 суток, широкая сеть ведомственных санаториев и домов отдыха</span></li>
                                                         <li class="title-and-list__item"><span style="font-size: 12pt;" data-mce-style="font-size: 12pt;">Военная ипотека</span></li>
                                                      </ul>
                                                   </article>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="unit unit-feedback mt-2" data-id="834" data-layout="landing" data-type="feedback">
                                             <div class="unit-content px-3" style="position: relative;">
                                                <h4 class="text-center mb-3">Заполните анкету и Мы свяжемся с Вами</h4>
                                                   <form method="POST">
                                                    <div class="rendered-form">
                                                        <div class="form_1">
                                                            <div class="formbuilder-text form-group field-last_name">
                                                                <label for="last_name" class="formbuilder-text-label">Фамилия</label>
                                                                <input type="text" class="form-control" name="last_name" access="false" id="last_name" title="Обязательное поле">
                                                            </div>
                                                            <div class="formbuilder-text form-group field-first_name">
                                                                <label for="first_name" class="formbuilder-text-label">Имя</label>
                                                                <input type="text" class="form-control" name="first_name" access="false" id="first_name" title="Обязательное поле">
                                                            </div>
                                                            <div class="formbuilder-text form-group field-patronymic">
                                                                <label for="patronymic" class="formbuilder-text-label">Отчество</label>
                                                                <input type="text" class="form-control" name="patronymic" access="false" id="patronymic">
                                                            </div>
                                                            <div class="formbuilder-date form-group field-birthday">
                                                                <label for="birthday" class="formbuilder-date-label">Дата рождения</label>
                                                                <input type="text" class="form-control" name="birthday" access="false" id="birthday" title="Обязательное поле">
                                                            </div>
                                                            <div class="formbuilder-date form-group citizenship">
                                                                <label for="citizenship" class="formbuilder-date-label">Гражданство</label>
                                                                <input type="text" class="form-control" name="citizenship" access="false" id="birthday" title="Обязательное поле">
                                                            </div>
                                                            <div class="formbuilder-date form-group region">
                                                                <label for="region" class="formbuilder-date-label">Регион проживания</label>
                                                                <input type="text" class="form-control" name="region" access="false" id="birthday" title="Обязательное поле">
                                                            </div>
                                                            <div class="formbuilder-date form-group education">
                                                                <label for="education" class="formbuilder-date-label">Уровень образование</label>
                                                                <input type="text" class="form-control" name="education" access="false" id="birthday" title="Обязательное поле">
                                                            </div>
                                                            <div class="formbuilder-date form-group service">
                                                                <label for="service" class="formbuilder-date-label">Наличие службы по призыву(Да/Нет)</label>
                                                                <input type="text" class="form-control" name="service" access="false" id="birthday" title="Обязательное поле">
                                                            </div>
                                                            <div class="formbuilder-number form-group field-number_tel">
                                                                <label for="number_tel" class="formbuilder-number-label">Номер телефона</label>
                                                                <input type="number" class="form-control" name="number_tel" access="false" id="number_tel" title="Обязательное поле">
                                                            </div>
                                                            <div class="formbuilder-number form-group mail">
                                                                <label for="mail" class="formbuilder-number-label">Электронная почта</label>
                                                                <input type="text" class="form-control" name="mail" access="false" id="number_tel" title="Обязательное поле">
                                                            </div>
                                                            <div class="formbuilder-button form-group field-send">
                                                                <input type="submit" value="Отправить" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                             </div>
                                          </div>
                                          <div class="unit unit-text mt-2" data-id="846" data-layout="landing" data-type="text">
                                             <div class="unit-content px-3" style="position: relative;">
                                                <div class="base-copyright__text-item" style="text-align: center;" data-mce-style="text-align: center;"><strong><span class="base-copyright__bold-text" style="font-size: 8pt;" data-mce-style="font-size: 8pt;"><a target="_blank">Пограничное Управление ФСБ России по Саратовской и Самарской областям</a></span></strong></div>
                                                <div class="base-copyright__text-item" style="text-align: center;" data-mce-style="text-align: center;"><strong><span style="font-size: 8pt;" data-mce-style="font-size: 8pt;">Служба в test</span></strong></div>
                                                <div class="base-copyright__text-item" style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 8pt;" data-mce-style="font-size: 8pt;"><strong><span class="base-copyright__bold-text">Адрес: </span></strong>184421, ул. Первомайская, д.1, пгт Никель Печенгский район, Мурманская область</span></div>
                                                <div class="base-copyright__text-item" style="text-align: center;" data-mce-style="text-align: center;"><strong><span style="font-size: 8pt;" data-mce-style="font-size: 8pt;"><span class="base-copyright__bold-text">Контактные данные:</span></span></strong></div>
                                                <div class="base-copyright__text-item" style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 8pt;" data-mce-style="font-size: 8pt;">+7(8155)43-21-16</span></div>
                                                <div class="base-copyright__text-item" style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 8pt;" data-mce-style="font-size: 8pt;"><a href="mailto:Alexceevich@yandex.ru" data-mce-href="mailto:mail@yandex.ru">text@yandex.ru</a></span></div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </main>
      </div>
   </body>
</html>