<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
   <meta charset="UTF-8">

<!--<form method="POST">
    <div><label>Login: 
        <input type="text" name="Login"></label></div>
    <div><label>Password: 
        <input type="text" name="Password"></label></div>
    <input type="submit" value="Enter">
</form>-->
<body>
    <form method="POST">
        <div class="rendered-form">
            <div class="">
                <h2 access="false" id="control-3673761">Ваши данные</h2></div>
            <div class="form_1">
                <div class="formbuilder-text form-group field-last_name">
                    <label for="last_name" class="formbuilder-text-label">Фамилия<span class="tooltip-element" tooltip="Обязательное поле">?</span></label>
                    <input type="text" class="form-control" name="last_name" access="false" id="last_name" title="Обязательное поле">
                </div>
                <div class="formbuilder-text form-group field-first_name">
                    <label for="first_name" class="formbuilder-text-label">Имя<span class="tooltip-element" tooltip="Обязательное поле">?</span></label>
                    <input type="text" class="form-control" name="first_name" access="false" id="first_name" title="Обязательное поле">
                </div>
                <div class="formbuilder-text form-group field-patronymic">
                    <label for="patronymic" class="formbuilder-text-label">Отчество</label>
                    <input type="text" class="form-control" name="patronymic" access="false" id="patronymic">
                </div>
                <div class="formbuilder-date form-group field-birthday">
                    <label for="birthday" class="formbuilder-date-label">День рождения<span class="tooltip-element" tooltip="Обязательное поле">?</span></label>
                    <input type="date" class="form-control" name="birthday" access="false" id="birthday" title="Обязательное поле">
                </div>
                <div class="formbuilder-number form-group field-number_tel">
                    <label for="number_tel" class="formbuilder-number-label">Номер телефона<span class="tooltip-element" tooltip="Обязательное поле">?</span></label>
                    <input type="number" class="form-control" name="number_tel" access="false" id="number_tel" title="Обязательное поле">
                </div>
                <div class="formbuilder-button form-group field-send">
                    <input type="submit" value="Отправить" >
                </div>
            </div>
        </div>
    </form>
</body>
</html>