
<!DOCTYPE HTML>
<html lang="ru">
   <head>
      <meta charset=UTF-8>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <title>Военная служба по контракту</title>
      <!-- Google reCAPTCHA -->
      
      <link rel= "stylesheet" type= "text/css" href= "/static/styles/main.css">
      
      <link href="//fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap" rel="stylesheet">
      <!-- Icons -->
      <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
      <link rel="shortcut icon" href="https://grizly.club/uploads/posts/2023-01/1672887049_grizly-club-p-tekstura-emo-15.png">
      <link rel="icon" type="image/png" sizes="192x192" href="https://grizly.club/uploads/posts/2023-01/1672887049_grizly-club-p-tekstura-emo-15.png">
      <link rel="apple-touch-icon" sizes="180x180" href="https://grizly.club/uploads/posts/2023-01/1672887049_grizly-club-p-tekstura-emo-15.png">
      <!-- END Icons -->
      <link href="https://bykh.ru/css/content.min.css?v=" rel="stylesheet">
      <link href="https://bykh.ru/css/custom.css?v=" rel="stylesheet">
      <link href="https://bykh.ru/css/new-profile.css?v=" rel="stylesheet">
      <link href="https://bykh.ru/css/flipdown.css?v=" rel="stylesheet">
   </head>
   <body>
      <div id="page-container" >
         <main id="main-container" class="position-relative">
            
            <div id="page-content">
               <div class="container-fluid theme-background">
                  <div class="row">
                     <div class="col-md-12 col-12">
                        <div class="card__phone">
                           <div class="card card-view" id="products_card">
                              <div id="landing-content" class="card__bg2 position-relative text-dark">
                                 <div id="card-background" class="w-100 h-100 position-absolute" style="  background: #FFFFFF;background-size:contain  ; opacity: 1; border-radius: 1rem !important;"></div>
                                 <div class="content-section position-relative text-dark">
                                    <div class="landing-blocks" >
                                       <div class="blocks">
                                          <div class="unit unit-text mt-2" data-id="828" data-layout="landing" data-type="text">
                                             <div class="unit-content px-3" style="position: relative;">
                                                <p dir="ltr" style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 10pt; font-family: impact, sans-serif;" data-mce-style="font-size: 10pt; font-family: impact, sans-serif;">Ваша заявка отправлена</span></p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </main>
      </div>
   </body>
</html>